@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #532f82;
  --text-purple: #603f8b;
  --light-purple: #b6b6e5;
  --text-gray: #686868;
}

.padding {
  @apply lg:px-16 md:px-8 px-4;
}
