@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #532f82;
  --text-purple: #603f8b;
  --light-purple: #b6b6e5;
  --border-purple: #a16ae8;
  --text-gray: #686868;
  --text-heading: #1e1e4b;
}

.padding {
  @apply lg:px-16 md:px-8 px-4;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-averia {
  font-family: "Averia Serif Libre", serif;
}
